body {
    background: linear-gradient(45deg, red, blue, purple);
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    height: 100vh;
}

#square {
    width: 330px;
    height: 500px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
  
}

#white {
    background-color: rgba(255, 255, 255, 0.95);
    width: 270px;
    height: 80px;
    position: relative;
    top: 100px;
    left: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0px;

}

.Text {
    color: rgb(81, 71, 71);
    font-size: 50px;
    font-weight: 50px;
    
    border-radius: 20px;
    

}

#btn1 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 200px;
    left: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);


}

#btn2 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 200px;
    left: 90px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);


}

#btn3 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 200px;
    left: 160px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);


}

#btn4 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 270px;
    left: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);


}

#btn5 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 270px;
    left: 90px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);


}

#btn6 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 270px;
    left: 160px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);

}

#btn7 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 340px;
    left: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);


}

#btn8 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 340px;
    left: 90px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);


}

#btn9 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 340px;
    left: 160px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);


}

#btn0 {
      width: 60px;
    height: 60px;
    position: absolute;
    top: 410px;
    left: 90px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}



.Text2 {
 
    color: rgb(81, 71, 71);
    font-size: 50px;

    font-weight: 50px;

    border-radius: 20px;

}

#btn- {
  width: 60px;
    height: 60px;
    position: absolute;
    top: 200px;
    left: 230px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);

}

#btnx {
     width: 60px;
    height: 60px;
    position: absolute;
    top: 270px;
    left: 230px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);

}

#btndiv {
     width: 60px;
    height: 60px;
    position: absolute;
    top: 340px;
    left: 230px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);

}

#btnplus {
      width: 60px;
    height: 60px;
    position: absolute;
    top: 410px;
    left: 230px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

#btnmin {
     width: 60px;
    height: 60px;
    position: absolute;
    top: 410px;
    left: 160px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

#btneq {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 410px;
    left: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.showoperator {
   
    color: rgb(81, 71, 71);
    font-size: 50px;
    font-weight: 50px;

    border-radius: 20px;

}







